# https://github.com/grafana/loki/blob/main/production/helm/loki/values.yaml

# loki config generation
loki:
  auth_enabled: false
  commonConfig:
    replication_factor: 1
  storage:
    type: 'filesystem'
    filesystem:
      rules_directory: /loki/rules
  compactor:
    retention_enabled: true
  limits_config:
    retention_period: 720h
# enable single-binary statefulset
singleBinary:
  replicas: 1
  persistence:
    enable: true
# disable unnecessary deployments that comes with Loki Helm 3.0.0+
rbac:
  pspEnabled: false
monitoring:
  dashboards:
    enabled: false
  selfMonitoring:
    enabled: false
    grafanaAgent:
      installOperator: false
  lokiCanary:
    enabled: false
test:
  enabled: false
metricsInstance:
  enabled: false
gateway:
  enabled: false