serviceaccount:
  annotations:
{{- if eq "gke" .Values.jxRequirements.cluster.provider }}
    iam.gke.io/gcp-service-account: {{ .Values.jxRequirements.cluster.clusterName }}-st@{{ .Values.jxRequirements.cluster.project }}.iam.gserviceaccount.com
{{- end }}
